/* line 1, ../compass/sass/style.scss */
html {
  line-height: 1.5;
  font-family: "Roboto",sans-serif;
  font-weight: normal;
  color: rgba(0, 0, 0, 0.87);
}

/* line 8, ../compass/sass/style.scss */
body {
  background-color: #eee;
}

/* line 12, ../compass/sass/style.scss */
.container-fluid {
  padding-right: 0px;
  padding-left: 0px;
}

/* line 21, ../compass/sass/style.scss */
#feed-content {
  height: 500px;
  background-color: white;
  font-size: 18px;
  border-top: 0px;
  padding: 0px;
}

/* line 30, ../compass/sass/style.scss */
#feed-content img {
  position: relative;
  top: 0px;
  width: 100%;
  height: 150px;
  border-radius: 4px;
}

/* line 39, ../compass/sass/style.scss */
#header {
  min-height: 220px;
  color: white;
  width: 100%;
  margin-bottom: 10px;
}

/* line 46, ../compass/sass/style.scss */
#image-header {
  min-height: 220px;
  background-position: 1px -126px;
  position: relative;
  width: 100%;
  top: 0;
  left: 0;
  right: 0;
  background-image: url("../img/banner.jpg");
  background-size: cover;
  background-repeat: no-repeat;
}

/* line 59, ../compass/sass/style.scss */
.navbar {
  float: right;
  border-radius: 0 0 0 50px;
  border-bottom: 3px solid #ddd;
}

/* line 69, ../compass/sass/style.scss */
.bottom-nav-fans {
  border-radius: 0 50px 0 0;
  position: absolute;
  left: 0px;
  bottom: -3px;
  float: left;
  margin-bottom: 0;
  background-color: #040f47;
  border: #030a30;
}
/* line 78, ../compass/sass/style.scss */
.bottom-nav-fans .navbar-collapse {
  padding-left: 0px;
  height: 20px;
}

/* line 84, ../compass/sass/style.scss */
.navbar-default .navbar-nav > li > a {
  color: #1f4ccd;
}

/* line 88, ../compass/sass/style.scss */
.top-live-feed {
  position: relative;
  right: 0;
  bottom: 0;
}

/* line 94, ../compass/sass/style.scss */
.time-stamp {
  position: relative;
  bottom: -270px;
  right: 10px;
  float: right;
}

/* line 103, ../compass/sass/style.scss */
#feed-content .profile-image img {
  position: relative;
  top: -40px;
  left: 15px;
  width: 73px;
  float: left;
  height: 73px;
  border: 2px solid #ccc;
  border-radius: 4px;
}

/* line 116, ../compass/sass/style.scss */
#user-name {
  font-size: 16px;
  position: relative;
  top: 80px;
  left: 15px;
}

/* line 123, ../compass/sass/style.scss */
#tweet-content {
  height: 300px;
  position: relative;
  left: 80px;
}

/* line 129, ../compass/sass/style.scss */
.at-username {
  font-size: 14px;
  position: relative;
  top: -5px;
}

/* line 135, ../compass/sass/style.scss */
.banner {
  font-size: 60px;
  position: absolute;
  top: 60px;
  left: -20px;
  text-shadow: 0 0 0.1em #b3caf6, 0 0 0.1em #b3caf6;
}

/* line 143, ../compass/sass/style.scss */
.navbar-default .navbar-nav > li > a:hover {
  color: #b3caf6;
  text-shadow: 0 0 0.2em #1840af, 0 0 0.2em #1840af;
}

/* line 148, ../compass/sass/style.scss */
li:hover {
  background-color: #ddd;
  height: 51px;
  color: #b3caf6;
}

@media screen and (max-width: 768px) {
  /* line 157, ../compass/sass/style.scss */
  a:hover {
    background: none;
  }

  /* line 160, ../compass/sass/style.scss */
  .navbar-brand {
    display: none;
  }

  /* line 163, ../compass/sass/style.scss */
  .navbar-default .navbar-nav > li > a:hover {
    background: transparent;
  }

  /* line 166, ../compass/sass/style.scss */
  li:hover {
    background-color: transparent;
  }

  /* line 169, ../compass/sass/style.scss */
  .banner {
    top: 5px;
  }
}
@media screen and (max-width: 480px) {
  /* line 182, ../compass/sass/style.scss */
  #tweet-content {
    padding-left: 0;
  }

  /* line 188, ../compass/sass/style.scss */
  #feed-content .profile-image img {
    display: none;
  }

  /* line 194, ../compass/sass/style.scss */
  #user-name {
    position: relative;
    top: 5px;
    left: 5px;
    font-size: 15px;
    padding-bottom: 5px;
  }

  /* line 202, ../compass/sass/style.scss */
  .at-username {
    font-size: 12px;
    position: relative;
    top: -5px;
  }

  /* line 208, ../compass/sass/style.scss */
  .time-stamp {
    bottom: -270px;
    font-size: 14px;
  }

  /* line 213, ../compass/sass/style.scss */
  #feed-content
  img {
    top: -6px;
    left: -4px;
    width: 103%;
  }

  /* line 220, ../compass/sass/style.scss */
  .panel {
    margin-bottom: 20px;
  }

  /* line 224, ../compass/sass/style.scss */
  .banner {
    font-size: 52px;
    left: 15px;
  }
}
/* line 230, ../compass/sass/style.scss */
.my-nav {
  position: relative;
  right: -26px;
}

/* line 235, ../compass/sass/style.scss */
.link1 {
  background-color: #FFFFFF;
  border-radius: 0 0 0 15px;
  border: 1px solid #eee;
}

/* line 242, ../compass/sass/style.scss */
.fan-bot li:hover {
  background-color: #0b22a8;
  height: 50px;
  color: #b3caf6;
}

/* line 248, ../compass/sass/style.scss */
.navbar-inverse .navbar-nav > li > a:hover {
  color: #b3caf6;
  background: none;
}

/* line 253, ../compass/sass/style.scss */
.navbar-toggle {
  right: -15px;
  top: -8px;
}

/* line 258, ../compass/sass/style.scss */
.fan-tog {
  right: 0px;
  top: 10px;
  padding: 6px;
}

/* line 264, ../compass/sass/style.scss */
.refresh-page {
  background-color: #1f4ccd;
  height: 5%;
  border: 2px solid #1840af;
  color: #b3caf6;
  margin-top: -10;
  margin-top: -10px;
  margin-bottom: 10px;
}
/* line 271, ../compass/sass/style.scss */
.refresh-page h3 {
  margin: 0;
  padding: 5px;
}
/* line 279, ../compass/sass/style.scss */
.refresh-page a:visited, .refresh-page a:active {
  color: white;
  text-decoration: none;
}
/* line 284, ../compass/sass/style.scss */
.refresh-page a:link {
  color: #b3caf6;
  text-decoration: none;
}
/* line 289, ../compass/sass/style.scss */
.refresh-page a:hover {
  color: black;
  text-decoration: none;
}
