<!DOCTYPE html>
<html ng-app="tweetApp">
	<head>
		<meta charset="utf-8">
    	<meta http-equiv="X-UA-Compatible" content="IE=edge">
    	<meta name="viewport" content="width=device-width, initial-scale=1">
		<title>Twitter Feed</title>
		<!--****[ Bootstrap, jQuery, Angular(routes,animate,cookies), CSS/SaSS, and native Javascript]****-->
		<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css" integrity="sha384-1q8mTJOASx8j1Au+a5WDVnPi2lkFfwwEAa8hDDdjZlpLegxhjVME1fgjWPGmkzs7" crossorigin="anonymous">
		<link rel="stylesheet" type="text/css" href="css/style.css">
		<script src="https://ajax.googleapis.com/ajax/libs/jquery/2.2.0/jquery.min.js"></script>
		<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/js/bootstrap.min.js" integrity="sha384-0mSbJDEHialfmuBBQP6A4Qrprq5OVfW37PRR3j5ELqxss1yVqOtnepnHVP9aJ7xS" crossorigin="anonymous"></script>
		<script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.4.9/angular.min.js"></script>
		<script type="text/javascript" src="js/angular-route.min.js"></script>
		<script type="text/javascript" src="js/angular-animate.min.js"></script>
		<script type="text/javascript" src="js/angular-cookies.min.js"></script>
		<script type="text/javascript" src="js/controller.js"></script>
	</head>
	<!--****[Main Controller]****-->
	<body ng-controller="mainController">
		<!--****[Full Wrapper of the webpage]****-->
		<div id="full-wrapper" class="container-fluid">
			<div id="header" class="container-fluid text-center">
				<div id="image-header"><a href="http://www.lolesports.com/en_US/na-lcs/"></a>
				
				<div class="col-md-6 col-sm-8 col-xs-10 banner">
					{{header}}
				</div>
				<div class="container-fluid">
					<!--****[Navigation]****-->
					<div class="bottom-nav-fans navbar navbar-default" role=navigation>
						<div class="navbar-header">
							
							<!-- 			My Toggle Button for my Navigation Menu! -->
							<button type="button" class="navbar-toggle fan-tog" data-toggle="collapse" data-target=".navbar-collapse">
							<span class="sr-only">Toggle navigation</span>
							<span class="icon-bar"></span>
							<span class="icon-bar"></span>
							<span class="icon-bar"></span>
							</button>
							
							<!-- 				My Navigation bar -->
<!-- 							<div class="navbar-collapse collapse">
								
								<ul class="fan-bot nav navbar-nav">
									<li><a ng-click="changeHeader('NALCS')" href="#/NALCS">#NALCS</a></li>
									<li><a ng-click="changeHeader('EULCS')" href="#/EULCS">#EULCS</a></li>
									<li><a ng-click="changeHeader('LCK')" href="#/LCK">#LCK</a></li>
									<li><a ng-click="changeHeader('LPL')" href="#/LPL">#LPL</a></li>
									<li><a class="lms" ng-click="changeHeader('LMS')" href="#/LMS">#LMS</a></li>
								</ul>
								<span class="navbar-brand fan-tweet">Fan Tweets!</span>
							</div> -->
						</div>
					</div>
				</div>
				<!--****[Header]****-->
				<div class="container-fluid">
					<!--****[Navigation]****-->
					<div class="top-live-feed navbar navbar-default" role=navigation>
						<div class="navbar-header">
							
							<!-- 			My Toggle Button for my Navigation Menu! -->
							<button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
							<span class="sr-only">Toggle navigation</span>
							<span class="icon-bar"></span>
							<span class="icon-bar"></span>
							<span class="icon-bar"></span>
							</button>
							
							<!-- 				My Navigation bar -->
							<div class="navbar-collapse collapse">
								<span class="navbar-brand"> Live LoL Esport Tweets</span>
								<ul class="nav navbar-nav">
									<li><a ng-click="changeHeader('NALCS')" href="#/NALCS">NALCS</a></li>
									<li><a ng-click="changeHeader('EULCS')" href="#/EULCS">EULCS</a></li>
									<li><a ng-click="changeHeader('LCK')" href="#/LCK">LCK</a></li>
									<li><a ng-click="changeHeader('LPL')" href="#/LPL">LPL</a></li>
									<li><a ng-click="changeHeader('LMS')" href="#/LMS">LMS</a></li>
								</ul>
							</div>
						</div>
					</div>
				</div>
			</div>
			
			
			
			
		</div>
		<div class="container-fluid refresh-page text-center">
			<a ng-click="changeHeader('')" href="#/"><h3> Refresh feed for {{header}} ?</h3></a></div>
			
			<div class="my-tweets" ng-view></div>
		</div>
	</body>
</html>